.container {
    min-height: 100vh;
    background-color: #DAE0E6;
}
.container.submitPost{
    /* position: absolute; */
    top: 40px;
    width: 100%;
    height: 420px;
    background: rgba(255,255,255,0.2);
    /* box-shadow: 0 5px 45px rgba(0,0,0,0.5); */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border-radius: 10px; */
  
}

.post-wrapped {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    min-height: 500px;
    padding: 16px;
}

.post-label {
    border-bottom: 2px solid #fff;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.form-wrapped {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
}

/* css form label */
.form-labels {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-button-color);
}

.form-label:nth-child(2) {
    border-right: none;
    border-top-right-radius: 5px;
}

.line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: all 0.2s ease;
}

.form-label:hover,
.form-label.active {
    color: var(--primary-color);
    background-color: rgba(0,121,211,0.05);
}

button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-left: none;
    border-top: none;    
    font-size: 1.4rem;
    color: var(--text-button-color);
    padding: 8px 0;
    background-color: #fff;
    cursor: pointer;
}

button:first-child {
    border-top-left-radius: 5px;
}

button:last-child {
    border-right: none;
    border-top-right-radius: 5px;
}

button span {
    margin-left: 10px;
    font-weight: 600;
}

button span i {
    font-size: 2.2rem;
}

/* css form */

.form-comment {
    padding: 16px;
}

textarea, input {
    border: 1px solid var(--border-color);
    width: 100%;
    border-radius: 5px;
    font-size: 1.4rem;
    outline: none;
    margin-bottom: 10px;
}

#form-title {
    padding: 8px 64px 8px 16px;
   
}

/* css text area */
#form-content {
    padding: 16px;
    min-height: 200px;
    font-family: inherit;
    font-size: 1.4rem;
    display: none;

}

/* css drag and drop area */
.drag-drop-area {
    min-height: 200px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    display: none;
   
}

#form-content.active,
.form-content.active {
    display: flex;
}

.top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.top span {
    font-size: 1.6rem;
    color: var(--text-button-color);
}

.top span:nth-child(2) {
    padding: 6px 16px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: -20%;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.top span:nth-child(2):hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.2s;
}

.file {
    display: none;
}
/* css drag drop image preview */
.images-container {
    width: 100%;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    height: auto;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.images-container .image {
    height: 85px;
    width: 85px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
    overflow: hidden;
    position: relative;
    margin-bottom: 7px;
    margin-right: 7px;
   
}

.images-container .image:nth-child(4n) {
    margin-right: 0;
}

.images-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.images-container .image span {
    position: absolute;
    top: -4px;
    right: 5px;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
}

.images-container .image span:hover {
    opacity: 0.8;
}


/* css button submit */
.form-submit-btn {
    text-decoration: none;
}

.form-submit-btn button {
    padding: 6px 16px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    
}

.form-submit-btn button:hover {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.2s;
}
:root {
    --primary-color: #0079d3;
    --text-color: #333;
    --text-button-color: #8d9092;
    --border-color: #ccc;
}
.none-display{
    display : flex;
}